body {
  background-color: khaki;
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
  margin: 5% 10%;  

}

.personalInfo {
  text-align: center;
  //border-bottom: 1px solid black;
  //padding-bottom: 20px;
  
}

.address {
  color: grey;
  margin: 0px;
  //border: 1px solid
}

.email {
 color: green;
  border-bottom: 1px solid black;
  margin: 0;
  padding-bottom: 20px;
}

.name {
  //border: 1px solid;
  margin: 0;
}

.objective {
  color: grey;
  text-align: left;
  margin-top: 0px;
  //border: 1px solid  
}
