body {
  background-color: black;
  color: darkturquoise;
  font-family: Calibri, Arial, sans-serif;
  margin: 5% 10% auto; 
  max-width: 800px;
}

.personalInfo {
  text-align: center;
}

.address {
  color: teal;
  margin: 0px;
}

.email {
 color: green;
  border-bottom: 1px solid white;
  margin: 0;
  padding-bottom: 20px;
}

.name {
  margin: 0;
}

.objective {
  color: teal;
  text-align: left;
  margin-top: 0px;
}

.experience {
  text-align: left;
  // border: 1px solid white;
}

.education {
  text-align: left;
  // border: 1px solid white;
}

.expElement {
}

.eduElement {
}

.dates{
  color: teal;
  margin: 0px;
}

.position{
  margin: 0px;
}

.title {
  color: green;
}

.firm {
  color: teal;
}

.accomplishments {
  margin-top: 0;
}

li {
  color: teal;
}
